/* ------------------------------------------------------------
---------------------- IN OPINION ADS -------------------------
--------------------------------------------------------------- */

.ad-image{
   width: 100px;
   height: 115px;
}

/* -------------------- Ctas ---------------------- */
.secondary-cta{
	line-height: 1;
    font-size: 1rem;
}


/* ------------------ Video ad --------------------- */

.video-explanation {
	font-size: 1.20rem;
}

.video-thumbnail-container {
	position: relative;
}

.video-thumbnail-button {
	width: 150px;
	height: 84px;
	position: relative;
	top: 0;
	left: 0;
}

.icon-positioner{
	width: 150px;
	height: 84px;
	position: absolute;
	top: 0;
	left: 0;
}

.icon-positioner:hover {
	background: #000;
	opacity: 0.6;
}

.icon-bg{
	position: absolute;
	top: 30px;
	left:60px;
	background-color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 100%;
}

.play-icon {
	position: absolute;
	top: 25px;
	left:55px;
	font-size: 2.5rem !important;
	z-index: 100;
}

.ad-video-wrapper {
	position: relative;
	display: none;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.ad-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------------------
-------------------------- MODAL ADS ---------------------------
--------------------------------------------------------------- */

/* -------------------- Table Ads ---------------------- */

.table-row {
	min-height: 60px;
}

.casetext-bg {
	background: rgba(132,172,219,.2);
	overflow: hidden;
}

.lexis-bg{
	background: rgba(252,188,176,.15);
}

.header-1{
	border-radius: 4px 0 0 0;
}

.header-2{
	border-radius: 0 4px 0 0;
}

.ad-text-wrapper {
	line-height: 0.9rem;
}

.winner {
	width: 60px;
	background: #28a745;
	position: absolute;
	top: 8px;
	right: -15px;
	text-align: center;
	line-height: 15px;
	letter-spacing: 1px;
	font-size: 0.6rem;
	color: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* -------------------- Video Ads ---------------------- */

.modal-section .icon-positioner{
	width: 200px;
	height: 113px;
}

.modal-section .icon-bg{
	top: 45px;
	left:85px;
}

.modal-section .play-icon {
	top: 40px;
	left:80px;
}

.ad-video-wrapper {
	position: relative;
	display: none;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.ad-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.back-to-features-link {
	display: none;
}

.text-link:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

/* -------------------- Testimonial Ads ---------------------- */

.menu-image{
	width: 30px;
	height: auto;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.list-inline-item.active .menu-image,
.list-inline-item .menu-image:hover{
	-webkit-filter: none; 
    filter: none;
    border: 2px solid #005aaa;
    width: 45px;
}

.list-inline-item .menu-image:hover{
	cursor: pointer;
}

.testimomnial-wrapper {
	display: none;
}

.testimomnial-wrapper.active {
	display: block;
}

@media screen and (max-width: 768px) {
	.menu-image{
		width: 25px;
	}

	.list-inline-item.active .menu-image,
	.list-inline-item .menu-image:hover{
		width: 35px;
	}
}









